# Environnements virtuels
venv/
env/
.venv/

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichier de base de données SQLite
chat.db

# Fichiers de configuration ou secrets éventuels
*.env
*.secret
config/secrets.py

# Fichiers système
.DS_Store
Thumbs.db

# Logs
*.log

# Backup/Temp
*.bak
*.tmp
*.swp

# VSCode / IDE
.vscode/
.idea/
*.code-workspace
